# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# dotenv
.env
.env.local
.env.*.local

# logs
logs
*.log
pids
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# build
dist/
build/
